# etapes intermediaires
*.o

# execs
serveurMasterMind
clientMasterMind
mastermind
mastermind_test
EssaieCurse

# dummy
serveur_dummy*
client_dummy*
test*

# idk
a.out
__MACOSX/*
.~lock.automates.odg#